.weather {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #dadde1;
  padding: 16px;
  margin: 30px auto;

  border-radius: 4px;
  color: rgb(135, 135, 135);
}

.weather form {
  margin-bottom: 20px;
}

.weather h1 {
  font-size: 24px;
  font-weight: 100;
  margin: 20px 0 0 0;
  line-height: 29px;
}

.weather ul {
  padding: 0;
  margin: 0;
}

.weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style-type: none;
}

.weather img {
  height: 64px;
  margin-right: 10px;
  display: block;
}

.weather .temperature-container {
  display: flex;
  align-items: center;
}

.weather .weather-temperature {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.weather .weather-temperature img {
  display: block;
  margin-right: 10px;
}

.weather .temperature {
  font-size: 64px;
  color: rgb(33, 33, 33);
  font-weight: 400;
  line-height: 64px;
}

.weather .unit {
  color: rgb(33, 33, 33);
  font-weight: 400;
  font-size: 16px;
  position: relative;
  line-height: 1;
  top: -20px;
  margin-left: 5px;
}
